<!DOCTYPE html>
<html lang="ja">
<head>
	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0">
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="../static/css/admin_register.css">
	<title>{{ title }}</title>
</head>
<body>
	<h2>&nbsp;部活Do!食べる部
    <br>&nbsp;&nbsp;&nbsp;&nbsp;Let's hydrate！</h2>
	<main>
	<form action="http://{{serverhost}}/admin/message" method="post">
		<div class="Form">
			<h2>メッセージの作成</h2>
			<div class="Form-Item">
				<p class="Form-Item-Label">
					<span class="Form-Item-Label-Required">必須</span>タイトル
				</p>
				<input type="text" name="title" required="required" class="Form-Item-Input" placeholder="例）お知らせ">
			</div>
			<div class="Form-Item">
				<p class="Form-Item-Label"><span class="Form-Item-Label-Required">必須</span>宛先</p>
				<select name="org" required="required" class="Form-Item-Input">
					<option value="">-</option>
					{% for org in org_list %}
					<option value="{{org.org_code}}">{{org.org_name}}</option>
					{% endfor %}
				</select>
			</div>
			<div class="Form-Item">
				<p class="Form-Item-Label isMsg"><span class="Form-Item-Label-Required">必須</span>内容</p>
				<textarea name="contents" required="required" class="Form-Item-Textarea"></textarea>
			</div>
			<input type="submit" class="Form-Btn" value="送信する">
	</form>
	<form action="http://{{serverhost}}/admin/show" method="post">
		<div class="Form">
			<input type="submit" value="戻る" class="Form-Btn">
		</div>
	</form>
	<h3>過去の連絡</h3>
	<table id="output">
		<th>日付</th>
		<th>ユーザー名</th>
		<th>グループ</th>
		<th>タイトル</th>
		<th>連絡内容</th>
		{% for post in posts %}
		<tr>
		 <td>{{post.day}}</td></td>
		 <td>{{post.rname}}</td>
		 <td>{{post.group}}</td>
		 <td>{{post.title}}</td>
		 <td>{{post.contents}}</td>
		</tr>
		{% endfor %}
	</table>
	</main>
</body>
</html>

<footer>
<p>COPYRIGHT &#169; azumi, kenshin and daiki ALL RIGHTS RESERVED.	</p>
</footer>