<!DOCTYPE html>
<html lang="ja">
<head>
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0">
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="../static/css/input.css">
  <title>Sign in</title>
</head>
<body>
    <header>
      <h2>&nbsp;部活Do!食べる部 for admin
    <br>&nbsp;&nbsp;&nbsp;&nbsp;Let's hydrate！</h2>
    </header>
    <main>
      <h2>簡単な解析</h2>
      <h3>トレーニング後の脱水率の平均（1か月分のみを表示）</h3>
      <img src="../static/img/analysis/{{fname}}" title="平均">
      <p>※目安として利用してください。</p>
      <h3>脱水率の度数分布（本日登録した人のみのデータ）</h3>
      <img src="../static/img/analysis/{{fname2}}" title="ヒストグラム">
      <p>※目安として利用してください。</p>
    </main>
</body>
<footer>
<p>COPYRIGHT &#169; azumi, kenshin and daiki ALL RIGHTS RESERVED. </p>
</footer>