<!DOCTYPE html>
<html lang="ja">
<head>
	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0">
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="../static/css/admin_main.css">
	<title>脱水管理</title>
</head>
<body>
	<h2>&nbsp;部活Do!食べる部
		<br>&nbsp;&nbsp;&nbsp;&nbsp;Let's hydrate！</h2>
	<main>
		<div class="parent parent01">
		  <form action=http://{{serverhost}}/admin/latest method="post">
		  	<p class="p_red">New!</p>
		  	<input type="submit" value="" class="button child childnew">
		  </form>
		  <form action=http://{{serverhost}}/admin/watch method="post">
		  	<p>Watch</p>
		  	<input type="submit" value="" class="button child childwatch">
		  </form>
		  <form action=http://{{serverhost}}/admin/analysis method="post">
		  	<p>Analysis</p>
		  	<input type="submit" value="" class="button child childanlysis">
		  </form>
		  <form action=http://{{serverhost}}/admin/register method="post">
		  	<p>Register</p>
		  	<input type="submit" value="" class="button child childregister">
		  </form>
		</div>
		<div class="parent parent02">
		  <form action=http://{{serverhost}}/admin/message?status=first method="post">
		  	<p>Message</p>
		  	<input type="submit" value="" class="button child childshow">
		  </form>
		  <form action=https://weathernews.jp/onebox/area/JAPAN.html target="_blank" method="post">
		  	<p>Weather</p>
		  	<input type="submit" value="" class="button child childweather">
		  </form>
		  <form action=https://github.com/azm17/app0702 target="_blank" method="GET">
		  	<p>Github</p>
		  	<input type="submit" value="" class="button child child2">
		  </form>
		  <form action=http://{{serverhost}}/ method="GET">
		  	<p>Logout</p>
		  	<input type="submit" value="" class="button child childlogout">
		  </form>
		</div>
	</main>
</body>

<footer>
<p>COPYRIGHT &#169; 2019-2020 taberube.jp ALL RIGHTS RESERVED.	</p>
</footer>