<!DOCTYPE html>
<html lang="ja">
<head>
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0">
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="../static/css/input.css">
  <title>Sign in</title>
</head>
<body>
    <header>
      <h2>&nbsp;部活Do!食べる部 for admin
    <br>&nbsp;&nbsp;&nbsp;&nbsp;Let's hydrate！</h2>
    </header>
    <main>
      <p>メッセージ：{{sentence}}
        <br><br>サーバーエラーにより、サーバーが機能していない場合があります。その場合は、代替サーバー（<a href="http://eiyo-kanri-hydration.herokuapp.com/">こちら</a>）にアクセスしてください。それでもうまくいかない場合は管理者に問い合わせください。</p>
    </main>
</body>
<footer>
<p>COPYRIGHT &#169; taberube.jp ALL RIGHTS RESERVED. </p>
</footer>