<!DOCTYPE html>
<html lang="ja">
<head>
	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0">
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="../static/css/input.css">
	<title>Sign in</title>
</head>
<body>
	<h2>&nbsp;部活Do!食べる部 
		<br>&nbsp;&nbsp;&nbsp;&nbsp;Let's hydrate！</h2>
	<form action="http://{{serverhost}}/login" method="post">
		<main>
			<input type="text" name="user" placeholder="Username" id="user"><br>
			<input type="password" name="pass" placeholder="Password" id="pass"><br>
			<input type="submit" value="Sign in" class="button">
		</main>
	</form>
</body>

<footer>
<p>COPYRIGHT &#169; taberube.jp ALL RIGHTS RESERVED.</p>
</footer>