<!DOCTYPE html>
<html lang="ja">
<head>
	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0">
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="../static/css/admin_register.css">
	<title>{{ title }}</title>
</head>
<body>
	<h2>&nbsp;部活Do!食べる部
		<br>&nbsp;&nbsp;&nbsp;&nbsp;Let's hydrate！</h2>
	<form action="http://{{serverhost}}/enter" method="post">
		<div class="Form">
			<h2>トレーニング内容の入力</h2>
			<div class="Form-Item">
				<p class="Form-Item-Label">
					<span class="Form-Item-Label-Required">必須</span>運動前体重(kg)
				</p>
				<input value="60" step="0.1" type="number" name="wb" required="required" class="Form-Item-Input" >
			</div>
			<div class="Form-Item">
				<p class="Form-Item-Label">
				<span class="Form-Item-Label-Required">必須</span>運動後体重(kg)
				</p>
				<input value="60" step="0.1" type="number" name="wa" required="required" class="Form-Item-Input">
			</div>
			<div class="Form-Item">
				<p class="Form-Item-Label"><span class="Form-Item-Label-Required">必須</span>トレーニング内容</p>
				<input type="text" name="text" required="required" class="Form-Item-Input" placeholder="例）ランニング">
			</div>
			<div class="Form-Item">
				<p class="Form-Item-Label"><span class="Form-Item-Label-Required">必須</span>トレーニング時間(h)</p>
				<select name="time" required="required" class="Form-Item-Input">
					<option value="">-</option>
					{% for i in range(1,49) %}
					<option value="{{i/2}}">{{i/2}}</option>
					{% endfor %}
				</select>
			</div>
			<div class="Form-Item">
				<p class="Form-Item-Label"><span class="Form-Item-Label-Required">必須</span>天気</p>
				<select name="tenki" required="required" class="Form-Item-Input">
					<option value="">-</option>
					{% for i in weather %}
					<option value="{{i.num}}">{{i.moji}}</option>
					{% endfor %}
				</select>
			</div>
			<div class="Form-Item">
				<p class="Form-Item-Label"><span class="Form-Item-Label-Required">必須</span>飲水量(L)</p>
				<select name="moi" required="required" class="Form-Item-Input">
					<option value="">-</option>
					{% for i in water %}
					<option value="{{i}}">{{i}}</option>
					{% endfor %}
				</select>
			</div>
			<div class="Form-Item">
				<p class="Form-Item-Label"><span class="Form-Item-Label-Required">必須</span>気温(℃)</p>
				<select name="temp" required="required" class="Form-Item-Input">
					<option value="">-</option>
					{% for i in range(66) %}
					<option value="{{i-20}}">{{i-20}}</option>
					{% endfor %}
				</select>
			</div>
			<div class="Form-Item">
				<p class="Form-Item-Label"><span class="Form-Item-Label-Required">必須</span>湿度(％)</p>
				<select name="sitsu" required="required" class="Form-Item-Input">
					<option value="">-</option>
					{% for i in range(101) %}
					<option value="{{i}}">{{i}}</option>
					{% endfor %}
				</select>
			</div>
			<input type="submit" class="Form-Btn" value="送信する">
		</div>
	</form>
	<form action="http://{{serverhost}}/show" method="post">
		<div class="Form">
			<input type="submit" value="戻る" class="Form-Btn">
		</div>
	</form>
</body>
<footer>
<p>COPYRIGHT &#169; taberube.jp ALL RIGHTS RESERVED.	</p>
</footer>
</html>